# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp
